<div class="speech-to-text-container">
  <div class="speech-recognition-container">
    <div class="language-container">
      Language:
      <select onchange={{action "selectLanguage" value="target.value"}}>
        <option value="" disabled selected>Select a language</option>
        {{#each languages as |language|}}
          <option value={{language.short}}>{{language.full}}</option>
        {{/each}}
      </select>
    </div>

    <div class="result-container">
      <h2>{{result}}</h2>
    </div>

    <div class="component-container">
      <h2>Component Without Block Params:</h2>
      {{speech-to-text
        getResult='getResult'
        buttonTitle=buttonTitle
        language=language}}
    </div>

    <div class="component-container">
      <h2>Component With Block Params:</h2>
      {{#speech-to-text
        getResult='getResult'
        language=language}}
        <button type="button">
          {{#if isRecording}}
            Press to Record
          {{else}}
            Press to Stop Recording
          {{/if}}
        </button>
      {{/speech-to-text}}
    </div>
  </div>
</div>
